craftsoft-batch-32-WeekEndclass-Project-1/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    
	<flow name="craftsoft_b32-weekend_class_team-main">
        <http:listener config-ref="craftsoft_b32-weekend_class_team-httpListenerConfig" path="${secure::http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="craftsoft_b32-weekend_class_team-config" />
        <error-handler ref="Global-Error_-HandelerError_Handler">
         
	  </error-handler>
    </flow>
    <flow name="craftsoft_b32-weekend_class_team-console">
        <http:listener config-ref="craftsoft_b32-weekend_class_team-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="craftsoft_b32-weekend_class_team-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(employeeID):application\json:craftsoft_b32-weekend_class_team-config">
		<flow-ref doc:name="Flow Reference" doc:id="b305f505-03de-4c89-9526-624c7ffdbbb4" name="implmation-put-employeebyIDSub_Flow"/>
        
    </flow>
    <flow name="delete:\employees\(employeeID):craftsoft_b32-weekend_class_team-config">
		<flow-ref doc:name="Flow Reference" doc:id="e2aa2330-eb08-42e6-be9d-0d54d9017f07" name="implmation-delete-employeeByIDSub_Flow"/>
		
    </flow>
    <flow name="get:\employees:craftsoft_b32-weekend_class_team-config">
		<flow-ref doc:name="Flow Reference" doc:id="df9d7ee0-0e5f-47b9-88a4-9440cc8d3ec8" name="Implemation_-get-employessSub_Flow"/>
       
    </flow>
    <flow name="get:\employees\(employeeID):craftsoft_b32-weekend_class_team-config">
		<flow-ref doc:name="Flow Reference" doc:id="dad0a5f0-72f0-4f17-aa1a-a84377dd508a" name="implemation-get-employeebyIDSub_Flow"/>
        
    </flow>
    <flow name="post:\employees:application\json:craftsoft_b32-weekend_class_team-config">
		<flow-ref doc:name="Flow Reference" doc:id="da3cbcf5-18b5-4bfe-8add-6eff77ce1764" name="Imolemation-post-employeesSub_Flow"/>
        
    </flow>
</mule>
